.note-list {
  width: 380px;
  max-width: 670px;
  min-width: 196px;
  height: 100%;
  background: #f8f8f8;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  .note-list-header {
    height: 100px;
    padding: 5px 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    .note-list-header-title {
      width: 100%;
      flex: 1;
      h1 {
        margin: 15px 0 20px;
        font-weight: 500;
        font-size: 20px;
      }
    }
    .note-list-header-sub-head {
      width: 100%;
      margin: 5px;
      font-size: 14px;
    }
  }
  .note-list-body {
    flex: 1;
    overflow: auto;
    .note-card {
      display: flex;
      height: 120px;
      padding: 20px 25px;
      text-decoration: none;
      box-sizing: border-box;
      flex-direction: column;
      border: 1px solid #e6e6e6;
      .note-card-head {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        font-size: 14px;
      }
      .note-card-title {
        width: 100%;
        white-space: nowrap;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;
      }
      .note-card-desc {
        width: 100%;
        margin-top: 5px;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #737373;
      }
      .note-card-date {
        font-size: 14px;
        color: #4d4d4d;
      }
      &:hover {
        cursor: pointer;
        background: #fff;
      }
      &.active {
        background: #fff;
      }
    }
  }
}

